main {
  font-family: "Oswald", sans-serif;
  text-decoration: solid 48px;
  text-align: center;
}
.mainTit {
  font-size: 48px;
  text-decoration: underline;
  padding: 25px;
  margin: 25px;
  color: #2d5507;
  font-weight: bolder;
}
.mainPromo {
  font-size: 32px;
  text-align: left;
}
.mainPagos {
  text-align: center;
  margin-bottom: 50px;
  ol li {
    color: rgb(167, 16, 16);
    font-weight: bolder;
    font-size: 28px;
    list-style: none;
  }
}
.mainYT {
  background-color: white;
  box-sizing: border-box;
  font-weight: bolder;
  padding: 30px;
  margin: 0;
  margin-bottom: 50px;
}
carousel-item img {
  width: 100px;
  height: 100px;
}
.carousel-inner img {
  margin: 0 auto;
  margin-bottom: 8rem;
}
.carusel2 {
  margin-bottom: 85px;
}
.carusel3 {
  margin-bottom: 64px;
}
.listaProductos ul {
  list-style: none;
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bolder;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  height: auto;
}
.listaProductos ul li a img{
  width: 320px;
  height: 320px;
  cursor: pointer;
}
.listaProductos ul li img:hover {
  color: #31061b;
  transition: all 0.8s ease;
}
