main {
  font-family: "Oswald", sans-serif;
  text-decoration: solid 48px;
  text-align: center;
}
.mainTit {
  font-size: 48px;
  text-decoration: underline;
  padding: 25px;
  margin: 25px;
  color: #0b1403;
}
.mainPromo {
  font-size: 32px;
  text-align: left;
}
.mainPagos {
  text-align: center;
  margin-bottom: 50px;
  ol li {
    color: rgb(167, 16, 16);
    font-weight: bolder;
    font-size: 28px;
    list-style: none;
  }
}
.mainYT {
  background-color: #b0b478;
  box-sizing: border-box;
  font-weight: bolder;
  padding: 30px;
  margin: 0;
  margin-bottom: 50px;
}
carousel-item img {
  width: 100px;
  height: 100px;
}
.carousel-inner img {
  margin: 0 auto;
  margin-bottom: 8rem;
}
.carusel2 {
  margin-bottom: 85px;
}
.carusel3 {
  margin-bottom: 64px;
}
.listaProductos{
  position: relative;
  display: flex;
  padding: 10% 10% 0 10%;
}
.listaProductos div img{
  margin: 25px;
}
.listaProductos div a{
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  font-weight: bolder;
  width: 80px;
  background-color: rgb(50,95,7);
  color: white;
  text-decoration: none;
  border: 2px solid rgb(50,95,7);
  position: absolute;
  margin: 13em 0 1em 7em;
}
.listaProductos a:hover{
  color: white;
}
.listaProductos .listaProd__Mate img{
  background-image: url(../img/indexmate.jpg);
  color: black;
  justify-content: center;
  width: 320px;
  height: 320px;
  border-radius: 3px;
}
.listaProductos .listaProd__Mate img:hover {
  cursor: pointer;
  transform:scale(0.98);
  transition:all .5s ease-in-out;
  filter: grayscale(80%);
}
.listaProductos .listaProd__Bombilla img {
  background-image: url(../img/indexbombilla.jpg);
  color: black;
  justify-content: center;
  width: 320px;
  height: 320px;
  border-radius: 3px;
}
.listaProductos .listaProd__Bombilla img:hover {
  cursor: pointer;
  transform:scale(0.98);
  transition:all .5s ease-in-out;
  filter: grayscale(80%);
}
.listaProductos .listaProd__Termo img {
  background-image: url(../img/indextermo.jpg);
  color: black;
  justify-content: center;
  width: 320px;
  height: 320px;
  border-radius: 3px;
}
.listaProductos .listaProd__Termo img:hover {
  cursor: pointer;
  transform:scale(0.98);
  transition:all .5s ease-in-out;
  filter: grayscale(80%);
}