main {
    font-family: 'Oswald', sans-serif;
    text-decoration: solid 48px;   
    text-align: center; 
  }
  main div div h2{
    text-decoration: underline;
  }
  carousel-item img{
    width: 300px;
    height: 300px;
  }
  