.principal{
    font-size: 24px;
    .nosotrosCero{
        font-style: oblique;
        font-size: 48px ;
        text-decoration: underline;
        padding: 25px;
        margin: 25px;
        text-align: center;
        color: #2d5507;
    }
    .nosotrosUno {
        display: flex;
        justify-self: start;
        font-family: $fuenteTextos;  
        font-size: 32px;
        font-weight: bolder;
        color: white;
        width: auto;
        height: auto;
        padding: 5px;
        margin: 20px;
    }
    .nosotrosDos {
        display: block;
        font-family: $fuenteTextos;
        font-size: 32px;
        font-weight: bolder;
        color: rgb(7, 32, 24);
        width: 90%;
        padding: 10px;
        margin: 20px;
    }
}
.publicidad{
    font-size: 24px;
    .nosotrosTres{
        height: 600px;
        display: flex;
        align-self: center;
        margin: 30px;
    }
    .nosotrosCuatro{
        display: flex;
        justify-self: start;
        padding: 10px;
        margin: 20px;
        height: 300px;
    }
    .nosotrosCinco{
        display: flex;
        justify-self: end;
        font-family: $fuenteTextos;
        font-size: 32px;
        font-weight: bolder;
        width: 500px;
        height: 200px;
        padding: 10px;
        margin: 20px;
    }
}