/**estilos de NAVBAR y FOOTER**/

.navbar{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
  }
  .navbar .nav-item{ /**no encontré forma de hacer funcionar SPACEBETWEEN en boostrap y apliqué margins**/
    margin-right: 75px;
    margin-left: 75px;
  }
  nav{
    background: $colorBarras;
    display: flex;
    justify-content: space-between;
  }
  .navbar-brand:hover{
    color:white;
  }
  .navbar-brand img{
    width: 60px;
    height: 60px;
  }
  nav div a img:hover{
    transform: scale(1.1);
    transition: all 500ms;
  }
  .lateral{
    display: flex;
    align-items: flex-end;
  }
  .lateral__1 {
    color: white;
    padding: 5px;
  }
  .lateral__2 {
    color: white;
    padding: 5px;
  }
  .lateral__3 {
    color: white;
    padding: 5px;
  }
  .lateral__1:hover{
    transform: scale(1.2);
    transition: all 500ms;
    color: white;
  }
  .lateral__2:hover{
    transform: scale(1.2);
    transition: all 500ms;
    color: white;
  }
  .lateral__3:hover{
    transform: scale(1.2);
    transition: all 500ms;
    color: white;
  }
  header{
    background-image: url(../img/fondomates2.jpg);
    color: white;
    text-shadow: -2px -2px 1px #000;
    background-attachment: fixed;
    height: 400px;
    justify-content: center;
  }
  header h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 64px;
    text-shadow: -2px -2px 3px #000;
  }


  footer {
    font-family: 'Montserrat', sans-serif;
    background: $colorBarras;
    width: auto;
    height: auto;
    box-sizing: border-box;
    color: antiquewhite;
    line-height: 1.5;
    align-self: flex-end;
  }
  footer a{
    text-decoration: none;
    color: white;
  }
  footer a:hover{
    color: white;
    text-decoration: underline;
  }
  .footerMain{
    display: flex;
    width: 100%;
    padding: 1.25rem 1.75rem;
  }
  .footerItem{
    padding: 1.25rem;
    min-width: 200px;
    flex-direction: column;
  }
  .footerItem a{
    display: flex;
    margin-right: 35rem;
  }
  .footerSocial {
    padding: 0 1.75rem 1.25rem;
    ul{
    list-style: none;
    border-top: 1px rgb(17, 1, 1) solid;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    li{
      margin: 0.5rem;
      font-size: 1.25rem;
    }
  }
}
  .footerTerm {
    padding: 25px;
    margin: 1;
    background-color: rgb(6, 59, 4);
    height: 5rem;
    ul{
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    li{
      padding: 5px;
      white-space: nowrap;
    }
  }
}
  .carousel-inner img {

    margin: 0 auto;
    margin-bottom: 100px;
    
    }