$colorFondo: rgb(255, 255, 255);
$colorBarras: linear-gradient(to left, rgb(50, 95, 7) 0%, #62ac11 0%, #57652a 100%);
$fondoTarjetas: #668853;
$fondoBoton: #7ca763;
$fuenteTextos: "Oswald", sans-serif;
$boton: (
  ancho: 100%,
  bordes: none,
  padd: 12px,
  radio: 3px,
);
