@charset "UTF-8";
.prod {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  background-color: none;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: black;
  font-weight: bolder;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.prod:hover {
  transform: scale(0.9);
  transition: all 500ms;
}

.prod h3 {
  position: inherit;
}

.prod img {
  width: 300px;
  height: 335px;
  border-radius: 10px;
}

.principal {
  margin: 10%;
  font-size: 24px;
}

.principal .consejosTit {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  text-decoration: underline;
  padding: 25px;
  margin: 25px;
  text-align: center;
  color: #2d5507;
  font-weight: bolder;
}

.principal div ol {
  margin: 20px;
}

.principal div ol li {
  text-align: left;
  font-size: 36px;
  color: #630515;
  font-weight: bolder;
}

.principal div ol h3 {
  text-align: left;
}

.principal div ol p {
  font-size: 30px;
  font-weight: bolder;
  text-decoration: underline cadetblue;
}

.publicidad {
  font-size: 24px;
  margin: 10%;
}

.publicidad .curado {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  text-decoration: underline;
  padding: 25px;
  margin: 25px;
  text-align: center;
  color: #2d5507;
  font-weight: bolder;
}

.publicidad .curadoDos {
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  height: auto;
  padding: 10px;
  margin: 20px;
}

.publicidad .curadoDos li {
  font-weight: bolder;
  display: flex;
}

.publicidad .curadoDos p {
  font-size: 30px;
}

.publicidad .curadoTres {
  display: flex;
  align-self: center;
  padding: 10px;
  width: 50%;
  margin: 20px;
  height: 300px;
}

/**estilos de NAVBAR y FOOTER**/
.navbar {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: white;
}

.navbar .nav-item {
  /**no encontré forma de hacer funcionar SPACEBETWEEN en boostrap y apliqué margins**/
  margin-right: 75px;
  margin-left: 75px;
}

nav {
  background: linear-gradient(to left, #325f07 0%, #62ac11 0%, #57652a 100%);
  display: flex;
  justify-content: space-between;
}

.navbar-brand:hover {
  color: white;
}

.navbar-brand img {
  width: 60px;
  height: 60px;
}

nav div a img:hover {
  transform: scale(1.1);
  transition: all 500ms;
}

.lateral {
  display: flex;
  align-items: flex-end;
}

.lateral__1 {
  color: white;
  padding: 5px;
}

.lateral__2 {
  color: white;
  padding: 5px;
}

.lateral__3 {
  color: white;
  padding: 5px;
}

.lateral__1:hover {
  transform: scale(1.2);
  transition: all 500ms;
  color: white;
}

.lateral__2:hover {
  transform: scale(1.2);
  transition: all 500ms;
  color: white;
}

.lateral__3:hover {
  transform: scale(1.2);
  transition: all 500ms;
  color: white;
}

header {
  background-image: url(../img/fondomates2.jpg);
  color: white;
  text-shadow: -2px -2px 1px #000;
  background-attachment: fixed;
  height: 400px;
  justify-content: center;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 64px;
  text-shadow: -2px -2px 3px #000;
}

footer {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to left, #325f07 0%, #62ac11 0%, #57652a 100%);
  width: auto;
  height: auto;
  box-sizing: border-box;
  color: antiquewhite;
  line-height: 1.5;
  align-self: flex-end;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

.footerMain {
  display: flex;
  width: 100%;
  padding: 1.25rem 1.75rem;
}

.footerItem {
  padding: 1.25rem;
  min-width: 200px;
  flex-direction: column;
}

.footerItem a {
  display: flex;
  margin-right: 35rem;
}

.footerSocial {
  padding: 0 1.75rem 1.25rem;
}

.footerSocial ul {
  list-style: none;
  border-top: 1px #110101 solid;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.footerSocial ul li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

.footerTerm {
  padding: 25px;
  margin: 1;
  background-color: #2d4b29;
  height: 5rem;
}

.footerTerm ul {
  width: 100%;
  list-style: none;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.footerTerm ul li {
  padding: 5px;
  white-space: nowrap;
}

.btn-wsp {
  margin: 0;
  padding: 0;
  border: 0;
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 50px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

main {
  font-family: "Oswald", sans-serif;
  text-decoration: solid 48px;
  text-align: center;
}

.mainTit {
  font-size: 48px;
  text-decoration: underline;
  padding: 25px;
  margin: 25px;
  color: #2d5507;
  font-weight: bolder;
}

.mainPromo {
  font-size: 32px;
  text-align: left;
}

.mainPagos {
  text-align: center;
  margin-bottom: 50px;
}

.mainPagos ol li {
  color: #a71010;
  font-weight: bolder;
  font-size: 28px;
  list-style: none;
}

.mainYT {
  background-color: white;
  box-sizing: border-box;
  font-weight: bolder;
  padding: 30px;
  margin: 0;
  margin-bottom: 50px;
}

carousel-item img {
  width: 100px;
  height: 100px;
}

.carousel-inner img {
  margin: 0 auto;
  margin-bottom: 8rem;
}

.carusel2 {
  margin-bottom: 85px;
}

.carusel3 {
  margin-bottom: 64px;
}

.listaProductos ul {
  list-style: none;
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bolder;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  height: auto;
}

.listaProductos ul li a img {
  width: 320px;
  height: 320px;
  cursor: pointer;
}

.listaProductos ul li img:hover {
  color: #31061b;
  transition: all 0.8s ease;
}

.preguntas {
  text-align: center;
  margin-top: 30px;
  list-style: none;
}

table {
  border: 100px;
  padding: none;
  width: 100%;
  font-family: "Oswald", sans-serif;
  border-collapse: collapse;
  background-color: white;
  border-radius: 6px;
  margin: 20px 20px 20px 40px;
  display: block;
  overflow: auto;
  width: fit-content;
  height: fit-content;
  overflow-y: hidden;
  font-size: 16px;
  box-shadow: 3px 5px 5px black;
  margin-left: 150px;
}

th,
td {
  border: solid 1px gray;
  padding: 5px;
}

th {
  background-color: tomato;
  color: whitesmoke;
  text-align: left;
}

.enviosimg {
  padding: 20px;
}

.enviosimg:hover {
  transform: scale(1) translate(900px, 0px);
  transition: 1.5s;
}

.publicidadTable {
  font-size: 35px;
}

.publicidadTable:hover {
  transform: scale(1.1);
  transition: all 500ms;
}

.advertencia {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  font-size: 24px;
  color: whitesmoke;
  font-style: oblique;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .navbar {
    font-size: 18px;
    flex-direction: column;
    text-align: center;
  }
  .navbar .nav-item {
    margin: 0px;
  }
  .lateral {
    margin-top: 20px;
    align-self: center;
  }
  footer {
    font-size: 10px;
    height: auto;
  }
  .footerTerm {
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
  }
  .mainTit {
    font-size: 28px;
  }
  .mainPromo {
    font-size: 24px;
  }
  .consejosUno {
    display: flex;
    flex-wrap: wrap;
  }
  .consejosTres {
    height: 100px;
    width: 450px;
  }
  .tarjetas {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .tarjetas div {
    display: flex;
    flex-wrap: wrap;
  }
  .cuentaLista {
    text-align: center;
  }
  .formulario {
    width: auto;
  }
  .enviosText {
    margin: 20px;
    text-align: center;
  }
  .enviosPagos {
    display: none;
  }
  .enviosPagos h4 {
    font-size: 10px;
    margin: 20px;
    font-style: "Oswald", sans-serif;
    text-align: center;
  }
  .enviosPagos img {
    margin: 2px;
    display: none;
    flex-wrap: wrap;
  }
  .enviosimg:hover {
    transform: scale(1) translate(200px, 0px);
    transition: 800ms;
  }
  .publicidadTable {
    font-size: 15px;
    margin-left: 45px;
  }
  .principal .consejosTit {
    font-size: 30px;
  }
  .principal div ol li {
    font-size: 25px;
  }
  .principal div ol h3 {
    font-size: 20px;
  }
  .principal div ol p {
    font-size: 22px;
  }
  .principal .consejosUno {
    border-radius: 30px;
    margin: 5px;
  }
  .publicidad .curado {
    font-size: 30px;
  }
  .publicidad .curadoDos {
    font-size: 25px;
  }
  .publicidad .curadoDos p {
    font-size: 22px;
  }
  .publicidad .curadoTres {
    width: 350px;
    height: 200px;
  }
  .conteiner-fluid .login {
    margin-left: 30px;
  }
  .conteiner-fluid .formulario {
    margin-left: 30px;
  }
  .conteiner-fluid .enviosText {
    margin-left: 15px;
  }
  .conteiner-fluid .cuentaLista {
    margin-left: 30px;
  }
}

@media (max-width: 502px) {
  .tarjetas {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .tarjetas div {
    display: flex;
    flex-wrap: wrap;
  }
  .enviosPagos img {
    margin: 1px;
    display: none;
    flex-wrap: wrap;
  }
  .enviosimg:hover {
    transform: scale(1) translate(125px, 0px);
    transition: 800ms;
  }
  .conteiner-fluid {
    justify-content: center;
  }
  .conteiner-fluid .login {
    width: 90%;
    margin: 40px;
  }
  .conteiner-fluid .formulario {
    width: 90%;
    margin: 40px;
  }
  .conteiner-fluid .enviosText {
    margin-left: 15px;
  }
  .conteiner-fluid .cuentaLista {
    margin-left: 30px;
  }
  .mainYT {
    height: auto;
    margin: 0;
  }
  .mainYT iframe {
    width: 380px;
    padding: 30px;
  }
  .mainYT div {
    margin-top: 20px;
    text-align: center;
  }
}

.conteiner-fluid {
  padding: 0;
  overflow-x: hidden;
}

.cuentaLista {
  font-size: 32px;
  text-decoration: none;
  list-style: none;
  margin: 50px;
}

.login {
  width: 400px;
  padding: 40px;
  background-color: #668853;
  margin: 50px;
  margin-top: 100px;
  border-radius: 4px;
  color: white;
  font-family: "Poppins", sans-serif;
  box-shadow: 7px 13px 37px #131111;
  font-size: 16px;
}

.loginTitulo {
  font-size: 22px;
  margin-bottom: 20px;
}

.entradas {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 12px;
  border: 1px solid #7ca763;
  font-size: 16px;
  display: flex;
  align-self: auto;
}

.login a {
  color: white;
  text-decoration: none;
}

.login a:hover {
  color: white;
  text-decoration: underline;
}

.formulario {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  width: auto;
  height: 670px;
  background-color: white;
  border-radius: 4px;
  padding: 40px;
  margin: 50px;
  margin-top: 100px;
  box-shadow: 7px 13px 37px #131111;
  margin-bottom: 100px;
  display: flex;
  text-align: initial;
}

.enviosText {
  font-size: 24px;
  color: whitesmoke;
  font-style: oblique;
  font-weight: bolder;
  margin: 20px;
  margin-bottom: 40px;
}

.enviosPagos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.enviosPagos h4 {
  font-size: 24px;
  margin: 20px;
  font-style: "Oswald", sans-serif;
}

.enviosPagos img {
  margin: 25px;
  display: flex;
}

.botonProd, .botonMiCuenta, .btn {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 12px;
  background-color: #7ca763;
  margin: 0px;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  height: 48px;
  box-sizing: border-box;
}

.botonMiCuenta {
  background-color: #7ca763;
  margin: 16px 0px;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  font-size: 24px;
  height: auto;
}

.botonProd:hover, .botonMiCuenta:hover, .btn:hover {
  color: #162c01;
  text-decoration: underline;
}

.btn {
  color: black;
  height: auto;
  font-size: 24px;
  background: none;
  background-color: #bbb7b7;
}

* {
  margin: 0;
  padding: 0;
}

.conteiner-fluid {
  padding: 0;
  overflow-x: hidden;
}

body {
  background: #b0b478;
  position: relative;
}
/*# sourceMappingURL=style.css.map */